<div class="title">Order List</div>
<table>
    <thead>
        <tr>
            <div class="header" *ngFor="let column of this.columns">
                <div class="column">
                    <div class="flex-box">
                        <div class="display-txt">{{ column.displayName }}</div>
                    </div>
                </div>
            </div>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows">
            <td *ngFor="let column of this.columns" class="row">
                <div class="cell" [ngSwitch]="column.type" >
                    <div class="txt-field" *ngSwitchCase="1">{{ row[column.name] }}</div>
                    <div class="txt-link" *ngSwitchCase="2" [routerLink]="['/order-details/' + row.orderId]">{{ row[column.name] }}</div>
                    <div class="action-btn" *ngSwitchCase="3" (click)="takeAction(row)">Move order</div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!-- <div class="no-data">
    No records found
</div> -->